.questionContainer {
  display: flex;
  justify-content: end;
}
.user {
  display: flex;
  justify-content: end;
}
.ai {
  display: flex;
  justify-content: start;
}
.chat {
  max-width: 50%;
  padding: 0 1rem;
  height: fit-content;
  line-height: 1.5rem;
  background-color: var(--grey);
  border-radius: 20px;
}
.chat p {
  white-space: pre-wrap;
  word-wrap: break-word;
}
